body {
   background-color: rgb(217, 233, 194);
}

.navbar{
   display: flex;
}

.logo img{
   height: 100px;
   width: 100px; 
}

.quick-links{
   margin-left:440px;
   margin-top: 30px;
}

.quick-links a {
   text-decoration: none;
   margin-right: 40px;
   font-size: 18px;
   color:black;
}

.quick-links a:hover{
   text-decoration: underline;
   font-size: 20px;
   color:rgb(58, 17, 24);
}

.login{
   margin-top:30px;
   margin-left: 320px;
}

.login a {
   text-decoration: none;
   color:black;
   font-size:18px;
}

.login a:hover{
   text-decoration: underline;
   font-size: 20px;
   color:rgb(58, 17, 24);
}

.main{
   display: flex;
}

.main-img{
   margin-top:200px;
}

.text{
   margin-top:200px;
   margin-left:200px;
}

.text h1{
   color:rgb(58, 17, 24);
   font-size:66px;
}

.text a{
   color:rgb(58, 17, 24);
   font-size:22px;
   text-decoration: none;
}

.text a:hover{
   text-decoration: underline;
   font-size: 24px;
}


.project-img{
   display: flex;
   margin-top:300px;
   margin-left:40px;
}



#card1{
   background-image: url("../assets/p3.png");
   height: 300px;
   width: 420px;
   margin-left: 40px;
   border-radius:12px;
   
}

#card2{
   background-image: url("../assets/p2.png");
   height: 300px;
   width: 420px;
   margin-left: 40px;
   border-radius:12px;
}

#card3{
   background-image: url("../assets/p3.png");
   height: 300px;
   width: 420px;
   margin-left: 40px;
   border-radius:12px;
}



.card h2{
   font-size:32px;
   color:white;
   margin-top: 150px;
   margin-left: 120px;
   opacity: 0;
}

.card:hover{
   opacity: 0.5;
}

.card:hover h2{
   opacity: 1;
   transition: all ease 0.4s;
   font-size: 30px;
}

footer{
   background-color:rgb(217, 233, 194);
   margin-top:280px;
}

footer h2, address{
color:"#171e42";
margin-left:600px;
}

.reviews{
   margin-top: 200px;
   display: flex;
   gap:50px;
   width: max-content;
}

.title-review{
   color:white;
   font-size: 46px;
   margin-left:200px;
}

.review1{
   display: flex;
   background-color: white;
   border-radius:20px;
   height: 220px;
   width: 400px;
   animation-name: review-scroll;
   animation-duration: 10s;
   animation-delay: 2s;
   animation-timing-function:linear;
   animation-iteration-count: infinite;
}
   
.review1 img{
   margin-top:20px;
   height: 100px;
   width:100px;
}

.review1 p{
   font-size: 18px;
}

@keyframes review-scroll {
   from{
      transform: translateX(0);
   }
   to{
      transform: translateX(-100%);
   }
}
.review1:hover{
 border:20px dashed white;
}

.project{
   margin-top: 220px;
   margin-left: 100px;
}

.pcontent{
   display: flex;
   margin-bottom: 100px;
   border-radius: 12px;
}

.pcontent p{
   font-size: 32px;
   color:white;
}

#owl{
   margin-bottom:40vh;
}

#owl p{
   margin-left: 100px;
}
#advocate{
   margin-bottom:40vh;
}

#advocate p{
margin-right:220px;
}

#planet p{
   margin-left:220px;
}


